{{define "api_details_js"}}
<script>
document.addEventListener('DOMContentLoaded', function() {
    {{template "api_state_js" .}}

    {{template "api_error_handler_js" .}}

    {{template "api_status_manager_js" .}}

    {{template "api_schema_processor_js" .}}

    {{template "api_tab_controller_js" .}}

    {{template "api_filter_controller_js" .}}

    {{template "api_endpoint_renderer_js" .}}

    {{template "api_tester_js" .}}

    {{template "api_loader_js" .}}

    {{template "api_init_js" .}}
});
</script>
{{end}}
