{{define "api_details_js"}}
<script>
document.addEventListener('DOMContentLoaded', function() {

    {{template "api_core_js" .}}

    {{template "api_data_js" .}}

    {{template "api_ui_js" .}}

    {{template "api_testing_js" .}}

    {{template "api_init_js" .}}

});
</script>
{{end}}
